@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
#newdiv{
    font-size:30px;
    padding:10px;
    border:1px solid black;
    font-family: "Titillium Web";
    margin:100px auto;
    max-width:30%;
    text-align: center;
    padding:10px 50px;
    }

.front{
    font-family: "Titillium Web";
    font-size: 40px;
    margin: 30px;
    text-align: center;
    margin-top:100px;
    padding:30px;
}
#start{
    font-family: "Titillium Web";
    font-size: 25px;
    margin:20px auto;
    display: flex;
    align-items: center;
    padding:10px 20px;
    background-color: white;
    border:2px solid black;
    border-radius: 10px;
}

#question{
    font-family: "Titillium Web";
    font-size: 25px;
    margin: 100px;
    margin-bottom: 10px;
}
#a1,#b1,#c1,#d1{
    font-family: "Titillium Web";
    font-size: 20px;
    margin-left:100px;
    padding:0px 20px;
}
#next{
    font-family: "Titillium Web";
    font-size: 20px;
    margin:30px;
    margin-left:100px;
    padding:5px 20px;
    background-color: white;
    border:2px solid black;
    border-radius: 10px;
    cursor:pointer;
}